swagger: "2.0"
info:
  title: ArgentBank Transactions API
  description: API pour gérer les transactions des utilisateurs
  version: 1.0.0
servers:
  - url: https://api.argentbank.com/v1

paths:
  /transactions:
    get:
      summary: Récupérer les transactions groupées par compte pour le mois en cours
      description: Retourne toutes les transactions du mois courant, regroupées par compte pour l'utilisateur authentifié.
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: ID de l'utilisateur
      responses:
        '200':
          description: Transactions récupérées avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        accountId:
                          type: string
                        transactions:
                          type: array
                          items:
                            $ref: '#/components/schemas/Transaction'
        '401':
          description: Non autorisé, l'utilisateur doit être authentifié
        '500':
          description: Erreur serveur interne

  /transactions/{transactionId}:
    get:
      summary: Récupérer les détails d'une transaction
      description: Retourne les détails d'une transaction spécifique.
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: ID de la transaction
      responses:
        '200':
          description: Détails de la transaction récupérés avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          description: Transaction non trouvée
        '401':
          description: Non autorisé, l'utilisateur doit être authentifié
        '500':
          description: Erreur serveur interne

  /transactions/{transactionId}:
    put:
      summary: Mettre à jour les informations d'une transaction
      description: Permet de modifier les informations d'une transaction spécifique.
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: ID de la transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '200':
          description: Transaction mise à jour avec succès
        '400':
          description: Données invalides
        '404':
          description: Transaction non trouvée
        '401':
          description: Non autorisé, l'utilisateur doit être authentifié
        '500':
          description: Erreur serveur interne

  /transactions/{transactionId}:
    delete:
      summary: Supprimer des informations sur une transaction
      description: Supprime certaines informations d'une transaction, mais pas la transaction elle-même.
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: ID de la transaction
      responses:
        '200':
          description: Informations supprimées avec succès
        '404':
          description: Transaction non trouvée
        '401':
          description: Non autorisé, l'utilisateur doit être authentifié
        '500':
          description: Erreur serveur interne

components:
  schemas:
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        amount:
          type: number
          format: float
        date:
          type: string
          format: date
        description:
          type: string
        accountId:
          type: string
